#### 1st Method

In [1]:
import numpy as np 
import pandas as pd
import joblib

In [4]:
poke = pd.read_csv('./Dataset_3/pokemon.csv')
poke = poke.set_index('#')
poke.fillna(0)
poke.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
combats = pd.read_csv('./Dataset_3/combats.csv')

combats['Winner'] = combats.apply(
    lambda row: 1 if str(row['Winner']) == str(row['Second_pokemon'])
                        else 0,
                axis=1
)
combats.tail()

       First_pokemon  Second_pokemon  Winner
49995            707             126       0
49996            589             664       0
49997            303             368       1
49998            109              89       0
49999              9              73       0

In [7]:
test = pd.read_csv('./Dataset_3/tests.csv')
test.head()

   First_pokemon  Second_pokemon
0            129             117
1            660             211
2            706             115
3            195             618
4             27             656

In [8]:
from sklearn.ensemble import RandomForestClassifier 
clf = RandomForestClassifier(n_estimators=100)
clf.fit(combats[['First_pokemon', 'Second_pokemon']],
           combats['Winner']
       )

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
clf.predict_proba([[5, 1]])

array([[0.42, 0.58]])

In [10]:
poke[poke['Name'] == 'Pikachu'].index[0]

31

In [11]:
poke[poke['Name'] == 'Charizard']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False

In [12]:
clf.predict_proba([[163, 166]])

array([[0.37, 0.63]])

In [13]:
joblib.dump(clf, 'poke_rfc')

['poke_rfc']

#### 2nd Method

In [14]:
poke = pd.get_dummies(poke[poke.columns].drop(columns='Name'))
poke.head()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type 1_Bug,Type 1_Dark,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
#,,,,,,,,,,,,,,,,,,,,,
1,45,49,49,65,65,45,1,False,0,0,...,0,0,0,0,0,1,0,0,0,0
2,60,62,63,80,80,60,1,False,0,0,...,0,0,0,0,0,1,0,0,0,0
3,80,82,83,100,100,80,1,False,0,0,...,0,0,0,0,0,1,0,0,0,0
4,80,100,123,122,120,80,1,False,0,0,...,0,0,0,0,0,1,0,0,0,0
5,39,52,43,60,50,65,1,False,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
xtrain = []
for i in combats.values:
    temp = []
    temp.append(poke.loc[i[0]].values)
    temp.append(poke.loc[i[1]].values)
    temp = np.array(temp)
    temp = temp.reshape(-1,)
    xtrain.append(temp)
xtrain[:5]

[array([50, 64, 50, 45, 50, 41, 2, False, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 70, 70, 40, 60, 40, 60, 3, False, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0], dtype=object),
 array([91, 90, 72, 90, 129, 108, 5, True, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 91, 129, 90, 72, 90, 108, 5, True, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0], dtype=object),
 array([55, 40, 85, 80, 105, 40, 2, False, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 75, 75, 75, 125, 95, 40, 5, False, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0], dtype=object),
 array([40, 40, 40, 70, 40, 20, 2, False, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 77, 120, 90, 60, 90, 48, 5, False, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0], dtype=object),
 array([70, 60, 125, 115, 70, 55, 1, False, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 20, 10, 230, 10, 230, 5, 2, False, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0], dtype=object)]

In [16]:
from sklearn.ensemble import RandomForestClassifier 
clf = RandomForestClassifier(n_estimators=100)
clf.fit(xtrain, combats['Winner'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
poke.loc[5].values

array([39, 52, 43, 60, 50, 65, 1, False, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0], dtype=object)

In [18]:
poke.loc[1].values

array([45, 49, 49, 65, 65, 45, 1, False, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0], dtype=object)

In [19]:
xts = []
xts.append(poke.loc[7].values)
xts.append(poke.loc[12].values)
xts = np.array(xts)
xts = xts.reshape(1,-1)
xts

array([[78, 84, 78, 109, 85, 100, 1, False, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 79, 83, 100, 85, 105, 78, 1, False, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0]], dtype=object)

In [20]:
clf.predict(xts)

array([0], dtype=int64)

In [21]:
clf.score(xts, [0])

1.0